.inapp-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;

	* {
		text-transform: none;
	}
	h3 {
		margin-left: .5em;
	}
	a {
		text-decoration: none;
	}
	.action-buttons {
		float: right;
	}
}