.inapp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; }
  .inapp-container * {
    text-transform: none; }
  .inapp-container h3 {
    margin-left: .5em; }
  .inapp-container a {
    text-decoration: none; }
  .inapp-container .action-buttons {
    float: right; }

/*# sourceMappingURL=signup.css.map */
