
.social-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	* {
		text-transform: none !important;
	}
	h3 {
		margin-left: .5em;
	}
	a {
		text-decoration: none;
	}
	.twitter {
		color: #ffffff;
		background-color: #1DA1F2;
	}
	.google {
		color: #ffffff;
		background-color: firebrick;
	}
	.facebook {
		color: #ffffff;
		background-color: #4c69ba;
	}
	Button, GoogleLogin, FacebookLogin {
		margin: .5em;
	}
	i {
		margin-right: 1em;
	}
}