.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .social-container * {
    text-transform: none !important; }
  .social-container h3 {
    margin-left: .5em; }
  .social-container a {
    text-decoration: none; }
  .social-container .twitter {
    color: #ffffff;
    background-color: #1DA1F2; }
  .social-container .google {
    color: #ffffff;
    background-color: firebrick; }
  .social-container .facebook {
    color: #ffffff;
    background-color: #4c69ba; }
  .social-container Button, .social-container GoogleLogin, .social-container FacebookLogin {
    margin: .5em; }
  .social-container i {
    margin-right: 1em; }

/*# sourceMappingURL=social_buttons.css.map */
